@inherits LayoutComponentBase

<header>
    <h1>MiniTwit</h1>
</header>

<NavMenu/>
<div class="alertarea">
  <div class="alert alert-primary" id="infomessage" role="alert">
  </div>
  <div class="alert alert-success" id="successmessage" role="alert">
  </div>
  <div class="alert alert-danger" id="errormessage" role="alert">
  </div>
  <div class="alert alert-warning" id="warningmessage" role="alert">
  </div>
</div>

<main>
    @Body
</main>

<footer>
  MiniTwit &mdash; A <s>Flask</s> Blazor Application
</footer>
