@using MiniTwitApi.Shared.Models.UserModels
@using System.Text.Json
@using static Pages.SearchUsers

@inject IJSRuntime JSRuntime
@inject HttpClient Client

<style>
    .nav-link.active {
    text-decoration: underline;
}
</style>


<nav>

    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link" href="timeline/my_timeline" Match="NavLinkMatch.All">My Timeline</NavLink>
            <NavLink class="nav-link" href="timeline/public" Match="NavLinkMatch.All">Public Timeline</NavLink>
            <NavLink class="nav-link" @onclick="RedirectToIndex" Match="NavLinkMatch.All">Logout</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-link" href="timeline/public" Match="NavLinkMatch.All">Public Timeline</NavLink>
            <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">Sign Up</NavLink>
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">Sign In</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@code 
{
    private async Task RedirectToIndex()
    {
        await Client.GetAsync("logout");
        await JSRuntime.InvokeVoidAsync("redirect", "/");
    }
}



