<div class=navigation>
    <!--{% if g.user %}
    <a href="timeline">my timeline</a> |
    <a href="timeline">public timeline</a> |
    <a href="signout">sign out [{{ g.user.username }}]</a>
    {% else %}-->
    <a href="timeline/public">public timeline</a> |
    <a href="register">sign up</a> |
    <a href="login">sign in</a>
</div>

@code {

}