@using MiniTwitApi.Shared.Models.UserModels
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject HttpClient Client

<nav>
    <AuthorizeView>
        <Authorized>
            <a href="timeline/my_timeline">My Timeline</a>
            <a href="timeline/public">Public Timeline</a>
            <a style="color: white;" @onclick="RedirectToIndex">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a href="timeline/public">Public Timeline</a>
            <a href="register">Sign Up</a>
            <a href="login">Sign In</a>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@code 
{
    private async Task RedirectToIndex()
    {
        await Client.GetAsync("logout");
        await JSRuntime.InvokeVoidAsync("redirect", "/");
    }
}
