<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Settings>
    <General>
      <PrefixFieldIdentifierWithUnderscore IsEnabled="true" />
    </General>
    <Refactorings>
      <Refactoring Id="RR0002" IsEnabled="false" />
      <Refactoring Id="RR0003" IsEnabled="false" />
      <Refactoring Id="RR0004" IsEnabled="false" />
      <Refactoring Id="RR0005" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
      <Refactoring Id="RR0123" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
      <Refactoring Id="RR0120" IsEnabled="false" />
    </Refactorings>
  </Settings>
</Roslynator>
