@page "/login"
@using MiniTwitApi.Client.ViewModels.Abstract
@using System.Text.Json.Serialization
@using System.Text.Json
@using MiniTwitApi.Shared.Models.UserModels
@using Newtonsoft.Json

@inject ILoginViewModel LoginViewModel 
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<h2>Sign In</h2>

<Error ViewModel="@LoginViewModel"/>

<EditForm Model="@LoginViewModel.User" OnValidSubmit="@LoginViewModel.LoginUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Username">Username</label>
        <input @bind="LoginViewModel.User.Username" type="text" class="form-control" id="Username" placeholder="Write your Username here" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input @bind="LoginViewModel.User.Password" class="form-control" type="password" id="Password" placeholder="Write your password here" />
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</EditForm>

@if (LoginViewModel.LoggedInUser is not null)
{
    /**
    var json = JsonConvert.SerializeObject(LoginViewModel.LoggedInUser);
    JSRuntime.InvokeVoidAsync("login", json);
    
    JSRuntime.InvokeVoidAsync("successMessage", "You have logged in");**/
    
    NavManager.NavigateTo("/");
}
