@using MiniTwitApi.Shared.Models
@using MiniTwitApi.Shared.Models.UserModels
@using System.Globalization
@using MiniTwitApi.Client.ViewModels.Abstract
@inject IMessageViewModel MessageViewModel; 
<h3>Messages</h3>

<ul class="messages">
    @if(_messages.Count > 0)
    {
        @foreach (var (message, user) in _messages)
        {
            <li>
                <img width="48" src=@user.GenerateProfilePictureLink() alt="UserPicture">
                <strong><a href="/timeline/user_timeline/@user.Username">@user.Username</a></strong>
                @message.Text;
                <small>&mdash; @MessageViewModel.GenerateDateTime(message.PublishDate).ToString("dd.MM.yyyy - HH.mm", CultureInfo.InvariantCulture) </small>
            </li>
        }
    }
    else
    {
        <li><em>Loading...</em></li>
        <img width="200px" src="../wwwroot/loader.gif"  alt="loading"/>
    }
</ul>

@code 
{
    [Parameter]
    public string Path { get; set; }

    private ICollection<(MessageDTO, UserDTO)> _messages;

    protected override async Task OnInitializedAsync()
    {
        await MessageViewModel.RequestMessages(Path);
        await foreach (var m in MessageViewModel.messages)
        {
            _messages.Add(m);
            StateHasChanged();
        }
    }
}