@page "/register" 

@using MiniTwitApi.Client.ViewModels.Abstract

@inject IRegisterViewModel RegisterViewModel

<h2>Register</h2>

@if (RegisterViewModel.Error is not null)
{
    <div class="alert alert-danger" role="alert">
        <p>@RegisterViewModel.Error</p>
    </div>
}

<EditForm Model="@RegisterViewModel.User" OnValidSubmit="@RegisterViewModel.RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Username">Username</label>
        <input @bind="RegisterViewModel.User.Username" class="form-control" id="Username" placeholder="Write your Username here" type="text" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input @bind="RegisterViewModel.User.Email" class="form-control" id="Email" placeholder="Write your Email here" type="email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input @bind="RegisterViewModel.User.Password" class="form-control" id="Password" placeholder="Write your Password here" type="password" />
    </div>
    <div class="form-group">
        <label for="Confirm">Confirm-Password</label>
        <input @bind="RegisterViewModel.RepeatPassword" class="form-control" id="Confirm" placeholder="Write your password again" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (RegisterViewModel.IsRegistered)
{
    <div class="alert alert-success" role="alert">
        <p>Successfully logged in</p>
        <!---Call redirect function here-->
    </div>
}