@page "/register" 

@using MiniTwitApi.Client.ViewModels.Abstract

@inject IRegisterViewModel RegisterViewModel


<h2>Register</h2>

<EditForm Model="@RegisterViewModel.User" OnValidSubmit="@RegisterViewModel.RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Username:
            <InputText @bind-Value="RegisterViewModel.User.Username" />
        </label>
    </p>
    <p>
        <label>
            E-mail:
            <InputText @bind-Value="RegisterViewModel.User.Email" />
        </label>
    </p>
    <p>
        <label>
            Password:
            <InputText @bind-Value="RegisterViewModel.User.Password" />
        </label>
    </p>
    <p>
        <label>
            Repeat Password:
            <InputText @bind-Value="RegisterViewModel.RepeatPassword" />
        </label>
    </p>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>