@page "/register" 
@using System.Data.SQLite;
@using Newtonsoft.Json;
@using System;
@using System.Net.Http;
@using System.Text;
@using MiniTwitApi.Shared.Models;

@inject HttpClient httpClient


<h2>Register</h2>

@if(ErrorRaised){
    <div class="error"><strong>Error:</strong> @ErrorMessage</div>
}

<EditForm Model="@createUserDTO" OnValidSubmit="@CreateNewProfile">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Username:
            <InputText @bind-Value="createUserDTO.Username" />
        </label>
    </p>
    <p>
        <label>
            E-mail:
            <InputText @bind-Value="createUserDTO.Email" />
        </label>
    </p>
    <p>
        <label>
            Password:
            <InputText @bind-Value="createUserDTO.Password" />
        </label>
    </p>
    @*<div class="form-group">
        <label for="passwordrepeat">Password (repeat):</label>
        <input type="passwordrepeat" class="form-control" size=30 id="passwordrepeat">
    </div>*@
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code{
    private bool ErrorRaised = false;
    private string ErrorMessage;
    public CreateUserDTO createUserDTO = new CreateUserDTO();

    protected override void OnInitialized()
    {

    }
    
    private async Task CreateNewProfile()
    {
        var json = JsonConvert.SerializeObject(createUserDTO);
        var data = new StringContent(json, Encoding.UTF8, "application/json");
        
        try
        {
            var response = await httpClient.PostAsync($"/register", data);
            var result = response.Content.ReadAsStringAsync().Result;
            Console.WriteLine(result);
        }
        catch (Exception e)
        {
            ErrorRaised = true;
            ErrorMessage = e.Message;
        }
    }
}