@page "/timeline/user_timeline/{username}"
@using MiniTwitApi.Shared.Models.UserModels
@using System.Text.Json;
@using MiniTwitApi.Shared.Models
@using MiniTwitApi.Client.ViewModels.Abstract

@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime;
@inject IUserTimelineViewModel UserTimelineViewModel;
@inject NavigationManager NavManager; 

@if (UserTimelineViewModel.Error is not null)
{
    <div class="alert alert-danger" role="alert">
        <p>@UserTimelineViewModel.Error</p>
    </div>
}


@if (UserTimelineViewModel.LoggedInUser is null)
{
    <h2>You need to be logged in to access this page</h2>
}
else
{
    <h2>@Username's Timeline</h2>
    
    <div class=followstatus>
        @if (UserTimelineViewModel.LoggedInUser.Username.Equals(Username))
        {
            <p>This is you!</p>
        }
        else if (UserTimelineViewModel.IsFollowed)
        {
            <p>You are currently following this user.</p>
            <button class="btn btn-primary" @onclick="@(() => UserTimelineViewModel.UnfollowUser())">Unfollow User</button>
        }
        else
        {
            <p>You are not yet following this user.</p>
            <button class="btn btn-primary" @onclick="@(() => UserTimelineViewModel.FollowUser())">Follow User</button>
        }
    </div>
    
    @if (UserTimelineViewModel.IsFollowed)
    {
        <div class="alert alert-success" role="alert">
            <p>@Username is now followed!</p>
        </div>
    }
    @if (UserTimelineViewModel.IsUnfollowed)
    {
        <div class="alert alert-success" role="alert">
            <p>@Username is now unfollowed!</p>
        </div>
    }

    <Messages path="@UserTimelineViewModel.Path" />    
}

@code 
{
    [Parameter]
    public string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await IsLoggedIn())
        {
            UserTimelineViewModel.Username = Username;
            UserTimelineViewModel.IsFollowed = await UserTimelineViewModel.CheckIfUserIsFollowed();
            UserTimelineViewModel.LoggedInUser = await GetUser();
            UserTimelineViewModel.Path = $"msgs/{Username}";
        }
    }
    
    private async Task<UserDTO> GetUser()
    {
        var user = await JSRuntime.InvokeAsync<string>("getUser");
        return JsonSerializer.Deserialize<UserDTO>(user);
    }
    
    private async Task<bool> IsLoggedIn()
    {
        return await JSRuntime.InvokeAsync<bool>("isUserLoggedIn");
    }
}
