@page "/timeline/user_timeline/{username}"
@using MiniTwitApi.Shared.Models.UserModels
@using System.Text.Json;
@using MiniTwitApi.Client.ViewModels.Abstract

@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime;
@inject IUserTimelineViewModel UserTimelineViewModel;
@inject NavigationManager NavManager; 

<h2>@Username's Timeline</h2>

@if (UserTimelineViewModel.Error is not null)
{
    JSRuntime.InvokeVoidAsync("errorMessage", UserTimelineViewModel.Error);
    UserTimelineViewModel.Error = null;
}

@if (UserTimelineViewModel.LoggedInUser is null)
{
    <h2>You need to be logged in to access this page</h2>
}
else
{
    <div class=followstatus>
        @if (UserTimelineViewModel.LoggedInUser.Username.Equals(Username))
        {
            <p>This is you!</p>
        }
        else if (UserTimelineViewModel.IsFollowed)
        {
            <p>You are currently following this user.</p>
            <button class="btn btn-primary" @onclick="@(() => UserTimelineViewModel.UnfollowUser())">Unfollow User</button>
        }
        else
        {
            <p>You are not yet following this user.</p>
            <button class="btn btn-primary" @onclick="@(() => UserTimelineViewModel.FollowUser())">Follow User</button>
        }
    </div>
    
    @if (UserTimelineViewModel.IsFollowed)
    {
        JSRuntime.InvokeVoidAsync("successMessage", $"{Username} is now followed");
        UserTimelineViewModel.IsFollowed = true;
        UserTimelineViewModel.IsUnfollowed = false;
        StateHasChanged();
    }
    @if (UserTimelineViewModel.IsUnfollowed)
    {
        JSRuntime.InvokeVoidAsync("successMessage", $"{Username} is now unfollowed");
        UserTimelineViewModel.IsUnfollowed = true;
        UserTimelineViewModel.IsFollowed = false;
        StateHasChanged();
    }

    <Messages path="@UserTimelineViewModel.Path" />    
}

@code 
{
    [Parameter]
    public string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await IsLoggedIn())
        {
            UserTimelineViewModel.Username = Username;
            UserTimelineViewModel.LoggedInUser = await GetUser();
            await JSRuntime.InvokeVoidAsync("console.log", $"Getting the user: {UserTimelineViewModel.LoggedInUser}");
            var isFollowed = await UserTimelineViewModel.CheckIfUserIsFollowed();
            await JSRuntime.InvokeVoidAsync("console.log", $"Fetching the follower relation: {isFollowed}");
            UserTimelineViewModel.IsFollowed = isFollowed;
            UserTimelineViewModel.IsUnfollowed = !isFollowed;
            UserTimelineViewModel.Path = $"msgs/{Username}";
        }
    }
    
    private async Task<UserDTO> GetUser()
    {
        var user = await JSRuntime.InvokeAsync<string>("getUser");
        return JsonSerializer.Deserialize<UserDTO>(user);
    }
    
    private async Task<bool> IsLoggedIn()
    {
        return await JSRuntime.InvokeAsync<bool>("isUserLoggedIn");
    }
}
