@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html{
    font-family: 'Roboto', sans-serif;
    background: #F1F2EE;
    width:100%;
    height: 100%;
}

body {
    min-height: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

main {
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

header {
    background: #344966;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 3px;
}

header h1 {
    font-weight:500;
    color: #F1F2EE;
}

nav{
    display: flex;
    justify-content: flex-start;

    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #344966;
}

nav a{
    color: #F1F2EE;
    padding-right: 15px;
}

nav a:hover {
    color: #7693B9;
}

footer{
    background: #344966;
    color: #F1F2EE;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight:500;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

.btn-primary{
    width: 100%;
    background: #344966;
    border: 1px solid #344966;
    font-weight:500;
}

.btn-primary:hover{
    width: 100%;
    background: #7693B9;
    border: 1px solid #7693B9;
    font-weight:500;
}

/* Messages CSS */

.card{
    margin-bottom: 15px;
    border: 1px solid #344966;
}

.profilepicture{
    padding-right:0px;
}

.card-title{
    color: #344966;
    font-weight:500;
}

.card-subtitle{
    color: #344966;
}

.card-text{
    color: #344966;
}

.img-thumbnail{
    padding: 0px;
    border: 0px white solid;
}

/* Register/login */
h2{
    font-weight:500;
}

label{
    font-weight:500;
}

.form-control{
    background: white;
    border: 1px solid #344966;
}

/* My timeline */

h3{
    font-weight:500;
}