html{
    font-family: 'Roboto', sans-serif;
    background: #F1F2EE;
    width:100%;
}

body {
    min-height: 100vh;
    background: #F1F2EE;
}

#app{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

main {
    background: #F1F2EE;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background: #344966;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 3px;
}

header h1 {
    font-weight:500;
    color: #F1F2EE;
}

nav{
    display: flex;
    justify-content: flex-start;

    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #344966;
}

nav a{
    color: #F1F2EE;
    padding-right: 15px;
}

nav a:hover {
    color: #7693B9;
}

footer{
    background: #344966;
    color: #F1F2EE;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight:500;
    width: 100%;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

.btn-secondary{
    background: #344966;
    border: 1px solid #344966;
    font-weight:500;
}

.btn-secondary:hover{
    background: #7693B9;
    border: 1px solid #7693B9;
    font-weight:500;
}

.btn-primary{
    width: 100%;
    background: #344966;
    border: 1px solid #344966;
    font-weight:500;
}

.btn-primary:hover{
    width: 100%;
    background: #7693B9;
    border: 1px solid #7693B9;
    font-weight:500;
}


/* Messages CSS */

.card{
    margin-bottom: 15px;
    border: 1px solid #344966;
}

.profilepicture{
    padding-right:0px;
}

.card-title a{
    color: #344966;
    font-weight:500;
}

.card-title a:hover{
    color: #7693B9;
    font-weight:500;
}

.card-subtitle{
    color: #344966;
}

.card-text{
    color: #344966;
}

.img-thumbnail{
    padding: 0px;
    border: 0px white solid;
}

/* Register/login */
h2{
    color: #344966;
    font-weight:500;
}

label{
    color: #344966;
    font-weight:500;
}

.form-control{
    background: white;
    border: 1px solid #344966;
}

/* My timeline */

h3{
    color: #344966;
    font-weight:500;
}

/* User timeline */
.usertimelineinforow{
    margin-bottom: 15px;
}

/* Alert */
.alert{
    display: none;
}

.alertarea{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inappropriateWarning
{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
}

.userinfo{
    margin-left: auto;
    margin-right: auto;
}

.userinfoprofilepicture
{
    width: 60px;
}

.buttonRow
{
    margin-bottom: 10px;
}

.customBold
{
    font-weight:500;
}

@media all and (max-width:480px) {
    h3{font-size: 1.17em}
    .userinfoprofilepicture{width:38px;}
    .followButton { width: 100%; display:block; margin-bottom: 5px;}
    .messageButton { width: 100%; display:block; margin-bottom: 5px;}
 }
 
 /* Chat area */
 .chatInfo{
    border: 2px red solid;
    margin-top: -30px;
    background-color: #7693B9;
    border: 2px solid #7693B9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.backToUserArea{
    align-self: flex-start;
}

.backToUserArea a{
    color: #344966;
    font-weight:500;
}

.backToUserArea a:hover{
    color: white;
    font-weight:500;
}

.chatClient{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userChatNameArea{
    align-self: flex-send;
    color: white;
    font-weight:500;
    height: 100%;
}

 .chatArea{
    width: 100%;
    min-height: 100%;
    flex: 1;
}

.postMessageArea{

}