@inherits LayoutComponentBase

<title>Welcome | MiniTwit</title>

<div class=page>
    <h1>MiniTwit</h1>
    <NavMenu/>
    <div class=body>
      @Body
    </div>
    <div class=footer>
        MiniTwit &mdash; A <s>Flask</s> Blazor Application
    </div>
</div>