<div class=navigation>
    @if(false) @* if user is logged in *@
    {
        <a href="timeline/username">My timeline | </a>
        <a href="timeline">Public timeline | </a>
        <a href="signout">Sign out [{{ g.user.username }}]</a>
    }
    else
    {
        <a href="timeline/public">Public timeline | </a>
        <a href="register">Sign up | </a>
        <a href="login">Sign in</a>
    }
</div>

@code {
    
}